# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Database
MONGODB_URL=mongodb://localhost:27017/nextjs-auth

# Email
RESEND_API_KEY=
SENDER_EMAIL=

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=